/* Inicio de nav */
nav{margin: auto auto;}
nav ul{
  list-style:none ;
  margin: 20px;
  padding: auto;
 }

nav li{
  display: inline;
  margin-right: 20px;
 }

nav li a{
  text-decoration: none;
  color: turquoise;
 padding: 5px 10px;
 font-size: 20px;
 font-family: 'Poppins', sans-serif;;
 font-weight: bold;
 }

nav li a:hover {
  background-color: turquoise;
  color: white;
 }

nav li a:active{
  background-color: gray;
  color: white;
 }

.caja1 {
  display: flex; 
  align-items: center; 
  margin-right: 230px;
  float: left;
}

.caja1 h3 {
  margin: 5px; 
  font-size: 23px;
  color: gray;
  font-family: 'Poppins', sans-serif;
}

.caja2 {
  margin: 5px; 
  float: left;
  display: flex;
  margin-top: -15px;
} 
/* Cierre de nav */
/* Inicio de contenido (poner el código de CSS en la división que le corresponda, el espacio que está entre el inicio y cierre de las secciones es para que pongan el código) */
  
    .grid-container {
    display: grid;
    gap: 10px;
    padding: 10px;
    background-color: white;
    margin-top:25px;
    }
            
    .grid-item {
    background-color: rgb(33, 235, 235);
    text-align: center;
    padding: 20px;
    font-size: 30px;
    border-radius: 20px;
             
    }
            
    .item1 {
    grid-column: 1;
    grid-row: 1;
             
    }
            
    .item2 {
    grid-column: 2;
    grid-row: 1 / span 2;
    background-color: white;
    }
            
    .item5 {
    grid-column: 1 / span 3;
    grid-row: 3;
    }
    
    .texto{
        
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    }
    

    .sol{
    font-size: 50px;       
    font-family: 'Montserrat', sans-serif;
    font-family: 'Montserrat Alternates', sans-serif;
    text-align: center;
    color:black;
    }
    
    .luna{
    font-size: 30px;       
    font-family: 'Montserrat', sans-serif;
    font-family: 'Montserrat Alternates', sans-serif;
    color: black;
    }
      
/* Final de contenido */
/* Inicio de footer */
.final{
    margin: 0px;
    padding: 0px;
    width: 100%;
    margin-top: 2%;
    background: linear-gradient(to right, #74ebfd, #85EAFA, #CFEEF4);
   }
   
   .abo{
    font-family: 'Poppins', sans-serif;
    text-align: center;
    margin-left: -15px;
  }
   
   .final .grupo1 {
     width: 100%;
     max-width: 1200px;
     margin: 10px 100px;
     display:grid;
     grid-template-columns: 1fr 1fr 1fr 1fr;
   }
   
   .final .grupo1 .box{
     width: 80%; 
     margin: 0 auto;
   }
   
   .final .grupo1 .box h1{
     color: white;
     margin-bottom: 18px;
     font-size: 18px;
     font-family: 'Poppins', sans-serif;
     border-bottom: 2px solid grey;
     padding-bottom: 8px;
     display: inline-block;
   }
   
   .final .grupo1 .box li{
     margin-bottom: 15px;
     display: block;
     transition: all .3s ease;
   }
   
   .final .grupo1 .box li:hover{
     color: black;
     padding-left: 6px;
   }
   
   .final .grupo1 .box h2{
     color: black;
     font-size: 16px;
     font-family: 'Poppins', sans-serif;
   }
   
   .final .grupo1 .box h3{
     color: black;
     font-size: 14px;
     font-family: 'Poppins', sans-serif;
   }
   
   .final .grupo1 .box p{
     margin-bottom: 25px;
   }
   
   .final .grupo1 .box ul {
     list-style: none;
     padding: 0px;
   }
   
   .final .grupo1 .box figure{
     width: 25% ;
     height: 120px;
     display: flex;
     justify-content: center;
     align-items: center;
     margin-left: 65px;
   }
   
   .final .grupo1 .redes a{
     display: inline-block;
     width: 40px;
     height: 40px;
     line-height: 45px;
     margin-bottom: 15px;
     background-color: lightcyan;
     color: black;
     border-radius: 50%;
     text-align: center;
     transform: all .5s ease;
   }
   
   .final .grupo1 .redes a:hover{
     background-color: white;
   }
   
   .final .grupo2{
     color: turquoise;
     background-color: white;
     padding: 10px 5px;
     text-align: center;
   }
   
   .final .grupo2 small{
     font-size: 15px;
   }
/* Cierre de footer */
