/* Inicio de nav */
nav{margin: auto auto;}
nav ul{
  list-style:none ;
  margin: 20px;
  padding: auto;
 }

nav li{
  display: inline;
  margin-right: 20px;
 }

nav li a{
  text-decoration: none;
  color: turquoise;
 padding: 5px 10px;
 font-size: 20px;
 font-family: 'Poppins', sans-serif;;
 font-weight: bold;
 }

nav li a:hover {
  background-color: turquoise;
  color: white;
 }

nav li a:active{
  background-color: gray;
  color: white;
 }

.caja1 {
  display: flex; 
  align-items: center; 
  margin-right: 230px;
  float: left;
}

.caja1 h3 {
  margin: 5px; 
  font-size: 23px;
  color: gray;
  font-family: 'Poppins', sans-serif;
}

.caja2 {
  margin: 5px; 
  float: left;
  display: flex;
  margin-top: -15px;
}      
/* Cierre de nav */
/* Inicio de contenido (poner el código de CSS en la división que le corresponda, el espacio que está entre el inicio y cierre de las secciones es para que pongan el código) */
    /* Inicio banner */
    .banner{
      height: 500px;
    }
    
    .imagen img{
      position: absolute;
        top: 67px;
        left: 0;
        right: 0; 
        object-fit: cover; 
    }
    
    .frase{
      display: inline-block;
      position: relative;
      top: 100px;
      left: 290px;
      right: 0;
      z-index: 2;
    }
    
    .frase h1{
      font-size: 70px;       
        font-family: 'Montserrat', sans-serif;
        color: white;
    }
    /* Cierre banner */
    /* Inicio sugerencias/soporte */
 
    /* Cierre sugerencia/soporte */
    /* Inicio preguntas populares */
    body {
        margin-left: 2cm;
        padding: 0;
    }
    
    .caja {
        width: 95%; 
        height: 14cm;
        display: flex;
        border: 4px solid #000000;
    }
    
    .division {
        flex: 1;
        border-right: 4px solid #000000; 
        box-sizing: border-box ; 
    }
    .contenido {
        padding: 20px; 
        text-align: left; 
    }
    
    /* Estilos CSS para el botón */
    button {
        padding: 20px 26px; 
        font-size: 18px; 
        background-color:rgb(30, 224, 224);
        color: white; 
        border: none; 
        border-radius: 4px; 
        cursor:pointer; 
    }
    
    button:hover {
        background-color:rgb(45, 190, 190);
    }
    
    a{
        padding: 20px 26px; 
        font-size: 18px; 
        background-color:rgb(30, 224, 224);
        color: white; 
        border: none; 
        border-radius: 4px; 
        cursor:pointer; 
    }
    
    a:hover{
        background-color: rgb(45, 190, 190);
    }

    h4{
      font-family: 'Montserrat', sans-serif;
      font-family: 'Montserrat Alternates', sans-serif;
  }
  
  h5{
      font-family: 'Poppins', sans-serif;
      font-size: 20px;
  }
  
  h6{
      font-family: 'Poppins', sans-serif;
      font-size: 17px;
  }
    /* Cierre preguntas populares */
/* Final de contenido */
/* Inicio de footer */
.final{
    margin: 0px;
    padding: 0px;
    width: 100%;
    margin-top: 50%;
    background: linear-gradient(to right, #74ebfd, #85EAFA, #CFEEF4);
   }
   
   .final .grupo1 {
     width: 100%;
     max-width: 1200px;
     margin: 10px 100px;
     display:grid;
     grid-template-columns: 1fr 1fr 1fr 1fr;
   }
   
   .final .grupo1 .box{
     width: 80%; 
     margin: 0 auto;
   }
   
   .final .grupo1 .box h1{
     color: white;
     margin-bottom: 18px;
     font-size: 18px;
     font-family: 'Poppins', sans-serif;
     border-bottom: 2px solid grey;
     padding-bottom: 8px;
     display: inline-block;
   }
   
   .final .grupo1 .box li{
     margin-bottom: 15px;
     display: block;
     transition: all .3s ease;
   }
   
   .final .grupo1 .box li:hover{
     color: black;
     padding-left: 6px;
   }
   
   .final .grupo1 .box h2{
     color: black;
     font-size: 16px;
     font-family: 'Poppins', sans-serif;
   }
   
   .final .grupo1 .box h3{
     color: black;
     font-size: 14px;
     font-family: 'Poppins', sans-serif;
   }
   
   .final .grupo1 .box p{
     margin-bottom: 25px;
   }
   
   .final .grupo1 .box ul {
     list-style: none;
     padding: 0px;
   }
   
   .final .grupo1 .box figure{
     width: 25% ;
     height: 120px;
     display: flex;
     justify-content: center;
     align-items: center;
   }
   
   .final .grupo1 .box figure img{
     width: 250px;
   }
   
   .final .grupo1 .redes a{
     display: inline-block;
     width: 40px;
     height: 40px;
     line-height: 45px;
     margin-bottom: 15px;
     background-color: lightcyan;
     color: black;
     border-radius: 50%;
     text-align: center;
     transform: all .5s ease;
   }
   
   .final .grupo1 .redes a:hover{
     background-color: white;
   }
   
   .final .grupo2{
     color: turquoise;
     background-color: white;
     padding: 10px 5px;
     text-align: center;
   }
   
   .final .grupo2 small{
     font-size: 15px;
   }
/* Cierre de footer */
